@charset 'utf-8'

.container {
	width: 300px;
	margine: 0 auto;
}

.mySlides {
	display: none;
	width: 150px;
}

.active {
    background-color: #717171;
}

/* The button */
#start {
  float: left;
}

#stop {
  float: right;
}

#start, #stop {
  cursor: pointer;
  font-size: 18px;
  width: 145px;
  background: #eee;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px 0 #ccc ;
}

#start.pushed, #stop.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}


/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* nav area */

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav li {
	float: left;
	cursor: pointer;
	opacity: 0.6;
}

nav li + li {
	margin-left: 6px;
}

nav li:hover {
	opacity: 1;
}

nav li.current {
	opacity: 1;
}