@charset 'utf-8'

.container {
	width: 200px;
	margine: 0 auto;
}

.mySlides {
	display: none;
	width: 200px;
}

/* The button */
#start {
  float: left;
}

#stop {
  float: right;
}

#start, #stop {
  cursor: pointer;
  font-size: 24px;
  width: 70px;
  background: #eee;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 6px 0 #ccc ;
}

#start.pushed, #stop.pushed {
  margin-top: 3px;
  box-shadow: 0 3px 0 #ccc;
}


