#start {
  background: #eee;
  padding: 5px;
  width: 70px;
  height: 40px;
  display: inline-block;
  font-size:20pt
}

#start:hover {
  opacity: 0.7;
  cursor: pointer;
}

.wrapper{
  width: 600px;
  height: 400px;
}
